body {
  /*background-color:blue;*/
  display: flex;
  flex-direction: column;
  background-color: #ff9933;
}
/*--------------------Header-----------------------*/
header {
  background-color: #e1e4e8;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-size: 72px;
  font-family: 'Alfa Slab One';
  color: #ff6600;
}
/*----------------------Navigation------------------------*/
#navPrincipal {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
#navPrincipal ul {
  display: flex;
}
#navPrincipal ul li {
  display: flex;
  padding: 1em;
}
#navPrincipal ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}
#navPrincipal ul li:hover {
  cursor: pointer;
  background-color: #ccc;
}
/*--------------------Sections---------------------------------*/
#tout {
  display: flex;
  flex-direction: column;
}
#tout #texte {
  display: flex;
  flex-direction: column;
  background-color: #bbb;
  padding: 5em 10em;
}
#tout #texte h3 {
  font-size: 20px;
  font-family: 'Alfa Slab One';
  padding: 20px;
}
#tout #texte p {
  font-family: Poppins;
}
#tout #sectionPrincipale {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tout #sectionPrincipale .contenu {
  border: 2px solid black;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 50px;
  padding: 1em;
  border-radius: 30px;
  transition: height 0.2s, width 0.2s;
}
#tout #sectionPrincipale .contenu h2 {
  font-family: 'Alfa Slab One';
  font-size: 30px;
  margin-right: 20px;
}
#tout #sectionPrincipale .contenu p {
  font-family: Poppins;
}
#tout #sectionPrincipale .contenu:hover {
  background-color: green;
  cursor: pointer;
  height: 3.5em;
  width: 55%;
}
/*----------------------------------footer--------------------------------*/
footer {
  background-color: #e1e4e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  padding: 1em;
  font-family: Poppins;
}
footer nav {
  display: flex;
}
footer nav ul {
  display: flex;
}
footer nav ul li {
  display: flex;
  padding: 1em;
}
footer nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}
footer nav ul li:hover {
  cursor: pointer;
  background-color: #ccc;
}
