body {
  /*background-color:blue;*/
  display: flex;
  flex-direction: column;
}
/*--------------------Header-----------------------*/
header {
  background-color: #e1e4e8;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-size: 72px;
  font-family: 'Alfa Slab One';
}
/*----------------------Navigation------------------------*/
#navPrincipal {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
#navPrincipal ul {
  display: flex;
}
#navPrincipal ul li {
  display: flex;
  padding: 1em;
}
#navPrincipal ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}
#navPrincipal ul li:hover {
  cursor: pointer;
  background-color: #ccc;
}
/*--------------------Sections---------------------------------*/
#sectionPrincipale {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sectionPrincipale .contenu {
  border: 2px solid black;
  height: 3em;
  display: flex;
  width: 50%;
  margin: 50px;
}
