body{
	/*background-color:blue;*/
	display:flex;
	flex-direction:column;
}


/*--------------------Header-----------------------*/

header{
	background-color:#e1e4e8;

	h1{
		font-size:72px;
		font-family:Helvetica;
	}
}

/*----------------------Navigation------------------------*/


#navPrincipal{
	width:100%;
	height:50px;
	display:flex;

	ul{
		display:flex;

		li{
			display:flex;

			a{
				display:flex;
				justify-content:center;
				align-items:center;
			}
		}
	}
}


/*--------------------Sections---------------------------------*/

#sectionsPrincipale